body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h2 {
    text-align: center;
}
form {
    max-width: 550px;
    margin: 20px auto;
    padding: 30px;
    background-color: #212529;
    border-radius: 10px;
    color: white;
}

.custom-color {
    background-color: lightgrey;
    
}

/* .containerd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background-color: #212529;
    color: white;
    border-radius: 10px;
} */

/* .img {
    width: 50%;
    height: 50%;
    object-fit: cover;
} */


/* .object-fit-cover {
    object-fit: cover;
  }
   */

.card-img-top {
margin: 0;
}


/* Style personnalisé pour supprimer les marges internes de la card */
.card.no-padding {
padding: 0;
}

/* Style personnalisé pour supprimer les marges internes de la colonne */
.card-img-col {
padding-left: 0;
padding-right: 0;
}